/*Header and container style*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff; 
   }
   h2 {

    font-size: 18px; 
    color: #080808; 
    margin-top: 0; 
   }
   .container {
    width: auto; 
    margin: 0 auto; 
    background: #fff; 
   }
   .header {
    font-size: 38px; 
    font-weight: bold;
   padding: 11px; 
    background: #ffffff; 
    color: #ff672b; 
	   margin-left: 50px;
    cursor: pointer;
   }
/*Logo*/

.logo_image{
	width: 65px;
	height: 65px;
	padding: 0 15px;
	float: left;
	cursor: pointer;
}
/*Buttons in header*/

.logout_button {
  display: inline-block;
  padding: 7px 25px;
  font-size: 24px;
font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ff672b;
  background-color: #fff;
	margin-left: 7px;
	margin-top: 3px;
  border: none;
  border-radius: 15px;
	float: none;
}
/*Navigation Buttons*/

.buttons{
  display: inline-block;
  border-radius: 4px;
  background-color: #ff672b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
   .sidebar {
	margin-bottom: 10px;
    width: 170px; 
    padding: 0 10px; 
    float: left; 
	   margin-top: 10px;
   }
/*Main content*/

.content {
  margin-left: 200px; 
  padding: 10px; 
  background: #fff; 
}
.footer {
  background: #ff672b; 
  color: #fff; 
  padding: 5px 5px 5px 5px; 
  position: fixed;
  bottom: 0;
  left: 0;
}
.profile_pic{
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  border: 1px gray;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.content{
  background-color: whitesmoke;
  display: flexbox;
  padding: auto;
}
.User_button {
  display: block;
  padding: 7px 25px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: greenyellow;
  color: #ff672b;
  background-color: white;
	margin-left: 800px;
	margin-bottom: 45px;
  border: green;
  border-radius: 15px;
	float: none;
}
.m-3_pt-3{
  color: red;

}
.subheading{
  color: green;
}
.row{
  color: #ff672b;
}
.profile_pic{
  height: 100px;
  width: 100px;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  border: 1px gray;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.content{
  background-color: whitesmoke;
  display: flexbox;
  padding: auto;
}
.Add_button {
  display: block;
  padding: 7px 25px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ff672b;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 45px;
  border: black;
  border-radius: 15px;
}
.Remove_button {
    display: block;
    position: absolute;
    top: 90px;
    padding: 7px 25px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    color: #ff672b;
    background-color: white;
    margin-left: 500px;
    border: 1px black;
    border-radius: 15px;
}
.Device1_button {
    display: block;
    padding: 7px 400px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ff672b;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black;
    border-radius: 15px;
} 
.Device2_button {
    display: block;
    padding: 7px 400px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ff672b;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black;
    border-radius: 15px;
}
.Device3_button {
    display: block;
    padding: 7px 400px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ff672b;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black;
    border-radius: 15px;
}
.Camera_button {
  display: block;
  position: relative;
  margin-top: 10px;
  padding: 25px 35px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: greenyellow;
  color: #ff672b;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 45px;
  border: green;
  border-radius: 15px;
  float: none;
}
.Door_button {
    display: block;
    position: absolute;
    top: 100px;
    padding: 25px 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    color: #ff672b;
    background-color: white;
    margin-left: 800px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.AirCon_button {
    display: block;
    padding: 25px 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: greenyellow;
    color: #ff672b;
    background-color: white;
    margin-left: 100px;
    margin-bottom: 45px;
    border: green;
    border-radius: 15px;
    float: none;
}
.Light_button {
    display: block;
    position: absolute;
    top: 230px;
    padding: 25px 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: greenyellow;
    color: #ff672b;
    background-color: white;
    margin-left: 800px;
    margin-bottom: 45px;
    border: green;
    border-radius: 15px;
    float: none;
}
.Clean_button {
    display: block;
    padding: 25px 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: greenyellow;
    color: #ff672b;
    background-color: white;
    margin-left: 100px;
    margin-bottom: 45px;
    border: green;
    border-radius: 15px;
    float: none;
}
.Alarm_button {
    display: block;
    position: absolute;
    top: 365px;
    padding: 25px 35px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: greenyellow;
    color: #ff672b;
    background-color: white;
    margin-left: 800px;
    margin-bottom: 45px;
    border: green;
    border-radius: 15px;
    float: none;
}